* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: blueviolet;
}
.main img {
    height: 30px;
    width: 30px;
    padding: 10px;
}
.images {
    text-align: center;
    padding-top: 40px;
}
.heading h1 {
    text-align: center;
    font-family: Comic Sans MS;
    font-weight: lighter;
    color: white;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 50px;
} 
.main .heading-2 {
    text-align: center;
    font-family: comic sans MS;
}
.main {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15%;
}
.front-end .front {
    background-color: #fff;
    height: 270px;
    width: 300px;
    border-radius: 20px;
}
.social-media .social {
    background-color: #fff;
    height: 270px;
    width: 300px;
    border-radius: 20px;
}
.desiner .design {
    background-color: #fff;
    height: 270px;
    width: 300px;
    border-radius: 20px;
}
.backend .back {
    background-color: #fff;
    height: 270px;
    width: 300px;
    border-radius: 20px;
}
.triangle-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;

}
.triangle-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.triangle-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.triangle-1 .triangle-up img {
    width: 200px;
    height: 200px;
    clip-path: polygon(38% 0%, 10% 88%, 100% 63%);
}
.triangle-1 .triangle-right img {
    width: 200px;
    height: 200px;
    clip-path: polygon(14% 4%, 14% 100%, 100% 60%);
}
.triangle-1 .triangle-left img {
    width: 200px;
    height: 200px; 
    clip-path: polygon(0% 6%, 40% 100%, 100% 21%);  
}
.triangle-2 .triangle-up img {
    width: 200px;
    height: 200px;
    clip-path: polygon(77% 0%, 10% 87%, 100% 100%)
}
.triangle-2 .triangle-right img {
    width: 200px;
    height: 200px;
    clip-path: polygon(0% 6%, 40% 100%, 100% 21%);  
}
.triangle-2 .triangle-left img {
    width: 200px;
    clip-path: polygon(38% 0%, 10% 88%, 100% 63%);
    height: 200px;   
}
.triangle-3 .triangle-up img {
    width: 200px;
    height: 200px;
    clip-path: polygon(38% 0%, 10% 88%, 100% 63%);
}
.triangle-3 .triangle-right img {
    width: 200px;
    height: 200px;
    clip-path: polygon(14% 4%, 14% 100%, 100% 60%);
}
.triangle-3 .triangle-left img {
    width: 200px;
    height: 200px; 
    clip-path: polygon(0% 6%, 40% 100%, 100% 21%);  
}
